@using System.Globalization
@using AutoMapper
@using Model.Models
@using Solar_System.Models
@model SpaceObjectViewModel

@{
    var sizeClass = String.Empty;
    switch (Model.Size)
    {
        case SizeType.Small:
            sizeClass = "small";
            break;
        case SizeType.Medium:
            sizeClass = "medium";
            break;
        case SizeType.Large:
            sizeClass = "large";
            break;
    }

    var objectTypeClass = String.Empty;
    switch (Model.Type)
    {
        case SpaceObjectType.Moon:
            objectTypeClass = "satellite";
            break;
        case SpaceObjectType.Planet:
            objectTypeClass = "planet";
            break;
    }
}

@if (!Model.IsCenter)
{
    <div class="@objectTypeClass">

        @Html.Partial("_Orbit", Model.Orbit)

        <div class="space-object @sizeClass" id="@Model.Name.ToLower()"
             style="height:@String.Format("{0}px", Model.Diameter.ToString(CultureInfo.InvariantCulture));width: @String.Format("{0}px", Model.Diameter.ToString(CultureInfo.InvariantCulture))"
             data-period="@Model.OrbitalPeriod.ToString(CultureInfo.InvariantCulture)" 
             data-is-retro="@Model.IsRetrograde" 
             data-perihelion="@Model.Orbit.Perihelion.ToString(CultureInfo.InvariantCulture)" 
             data-aphelion="@Model.Orbit.Aphelion.ToString(CultureInfo.InvariantCulture)" 
             data-eccentricity="@Model.Orbit.Eccentricity.ToString(CultureInfo.InvariantCulture)"
             data-semi-minor="@Model.Orbit.SemiMinorAxis.ToString(CultureInfo.InvariantCulture)" 
             data-semi-major="@Model.Orbit.SemiMajorAxis.ToString(CultureInfo.InvariantCulture)"
             data-radius="@Model.Radius.ToString(CultureInfo.InvariantCulture)"
             data-primary-radius="@Model.Primary.Radius.ToString(CultureInfo.InvariantCulture)">
            
            @if (Model.Satellites != null && Model.Satellites.Any())
            {
                foreach (var moon in Model.Satellites)
                {
                    @Html.Partial("_SpaceObject", Mapper.Map<SpaceObject, SpaceObjectViewModel>(moon))
                }
            }
        </div>
    </div>
}
else if (Model.IsCenter && Model.Type.Equals(SpaceObjectType.Star))
{
    <div class="space-object star @sizeClass" id="@Model.Name.ToLower()"></div>
}